.controlButton {
  font-size: 3rem;
  background-color: var(--blackish);
  color: var(--whitish);
  border-radius: 1rem;
  border: 2px solid var(--whitish);
  height: 5rem;

  justify-content: center;
  display: flex;
  width: 15%;
}

@media (orientation: landscape) {
  .controlButton {
    width: 15%;
    height: auto;
  }
}
