.controlButton {
  font-size: 3rem;
  background-color: #222;
  color: #ccc;
  border-radius: 1rem;
  border: 2px solid #ccc;
  height: 5rem;

  justify-content: center;
  display: flex;
}

@media (orientation: landscape) {
  .controlButton {
    width: 4rem;
  }
}
