.nextTileContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nextTileTileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  height: 7rem;
  overflow-y: hidden;
}

@media (orientation: landscape) {
  .nextTileTileContainer {
    height: fit-content;
  }
}

.slidingUp {
  animation: slideUp 0.5s 1;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-64px - 1rem));
  }
}

.slidingDown {
  animation: slideDown 0.5s 1;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(64px + 1rem));
  }
}

.rotatingCW {
  animation: rotatingCW 0.5s 1;
}

@keyframes rotatingCW {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(90deg);
  }
}

.rotatingCCW {
  animation: rotatingCCW 0.5s 1;
}

@keyframes rotatingCCW {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-90deg);
  }
}

.tileSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tileSpace:first-of-type {
  margin-top: 0;
}

.tileSpace:last-of-type {
  margin-bottom: 0;
}

.tileSvgContainer {
  background-color: var(--light-background);
  width: 64px;
  height: 64px;
}

@media (orientation: landscape) {
  .tileSvgContainer {
    width: 128px;
    height: 128px;
  }

  .tileSpace:first-of-type {
    display: none;
  }

  .tileSpace:last-of-type {
    display: none;
  }
}
