/* .nextTileContainer {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.nextTileTileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  height: 7rem;
  overflow-y: hidden;
}

@media (orientation: landscape) {
  .nextTileContainer {
    height: 100%;
    flex-grow: 1;
  }

  .nextTileTileContainer {
    height: fit-content;
    overflow-x: hidden;
  }
}

@media (orientation: landscape) {
  .tileSvgContainer {
    width: 128px;
    height: 128px;
    border-radius: 12px;
    opacity: 0.75;
  }

  .focusedTile {
    opacity: 1;
    border: 4px solid var(--whitish);
  }

  .tileSpace:first-of-type {
    display: none;
  }

  .tileSpace:last-of-type {
    display: none;
  }
} */
