.board {
  height: fit-content;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  background-color: var(--light-background);
}

.board svg {
  height: 100vw;
  width: 100vw;
}

@media (orientation: landscape) {
  .board svg {
    height: calc(100vh - 7rem);
    width: calc(100vh - 7rem);
  }
}

@media (orientation: portrait) {
  .board {
    width: 100vw;
  }
}
