.board {
  width: 100%;
  height: calc(100vh - 150px - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  /* rgba(0, 0, 255, 0.279); */
  margin: 1rem 0;
}

.board svg {
  height: 100vw;
  width: 100%;
}
