.main {
  background-color: #222;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  /* max-width: 600px;
  margin-left: auto;
  margin-right: auto; */
}

.gameBoardContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100vw;
}

@media (orientation: landscape) {
  .main {
    height: 100vh;
    width: 100vw;
    /* max-width: 100vw; */
    margin-left: 0;
    margin-right: 0;
  }

  .gameBoardContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    /* height: calc(100vh - 4rem); */
  }
}
