.main {
  background-color: var(--blackish);
  color: var(--whitish);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.gameBoardContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100vw;
}

@media (orientation: landscape) {
  .main {
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .gameBoardContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }
}
