.headerContainer {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 2rem;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  font-size: 1.2rem;
}

@media (orientation: landscape) {
  .headerContainer {
    font-size: 3rem;
    height: 3rem;
  }
}

.headerElement {
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.instruction {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.score {
  width: 24vw;
  text-align: left;
  justify-content: flex-start;
}

.menuButton {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger {
  height: 0.3em;
  width: 1.2em;
  background-color: var(--blackish);
  border: 1px solid var(--whitish);
  border-radius: 0.2em;
}

.menuContainer {
  z-index: 2;
  position: absolute;
  background-color: var(--accent-color);
  width: 75vw;
  right: 0;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--accent-color);
}

.menuItem {
  font-size: 1.5rem;
  height: 2em;
  border: 1px solid var(--blackish);
  display: flex;
  justify-content: center;
  align-items: center;
}
